<footer class="pd-20 m-top-shadow">
    <div class="footer w-800 center pd-20">
        <div class="row justify-around">
            {{@ frag['common-footer-it'].content}}
            {{@ frag['common-footer-news'].content}}
            {{@ frag['common-footer-about'].content}}
        </div>
        <div class="mt-30 text-c frag justify-center f-14">
            {{@ frag['copyright'].content}} 
            {{@ frag['common-company'].content}}</div>
        <div class="f-13 text-c frag c-bfbfbf">
            地址：{{@ frag['common-address'].content}}
        </div>
        <div class="f-13 text-c frag c-bfbfbf">
            电话：{{@ frag['common-tel'].content}}
        </div>
        <p class="text-c it">技术支持：<a href="https://gitee.com/yanyutao0402/chanyue-cms" target="_blank"> 禅悦cms</a></p>    
    </div>
</footer>