<header class="row header-wrap justify-center pos-r">
    <div class="header row align-c justify-between pt-5 pb-5">
        <h1 class="logo" title="{{site.name}}">
            {{site.name}}
        </h1>

        {{include './nav.html'}}


        <div>
            <a class="lang ignore" href="javascript:translate.changeLanguage('chinese_simplified');">CN</a>
            |
            <a class="lang ignore" href="javascript:translate.changeLanguage('chinese_simplified');">EN</a>
        </div>

        <div class="tel row">
           咨询热线：{{@ frag['common-tel'].content}}
        </div>
    </div>
</header>