<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="cms,cms,chanyue," />
    <meta property="og:title" content="昂科" />
    <meta property="og:description" content="" />
    <title>昂科</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <meta property="og:type" content="article" />
    <meta property="og:image" content="./img/logo.png" />
    <meta property="og:url" content="http://www.chanyue.top" />
    <meta name="author" content="昂科" />
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/saduo@1.1.1.css" />
    <link rel="stylesheet" href="./css/swiper.min.css" />
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <!-- 头部 -->
    <header class="row header-wrap justify-center pos-r">
        <div class="header row align-c justify-between pt-5 pb-5">
            <h1 class="logo" title="昂科">
                昂科
            </h1>

            <nav class="nav">
                <ul class="row">
                    <li class="nav-item"><a href="/" title="首页">首页 </a></li>
                    <li class="nav-item">
                        <a href="/fedev/index.html" title="前端开发">技术服务 </a>
                        <ul class="sub-nav">
                            <li class="sub-nav-item">
                                <a href="/qianduankaifa/JavaScript/index.html" title="JavaScript">智慧校园
                                </a>
                            </li>
                            <li class="sub-nav-item">
                                <a href="/qianduankaifa/vue/index.html" title="vue">智慧工厂
                                </a>
                            </li>
                            <li class="sub-nav-item">
                                <a href="/fedev/css3/index.html" title="css3">智慧养老
                                </a>
                            </li>
                            <li class="sub-nav-item">
                                <a href="/fedev/css3/index.html" title="css3">智慧园区
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/nodejs/index.html" title="node开发">解决方案</a>
                    </li>
                    <li class="nav-item">
                        <a href="/qianduanku/index.html" title="前端库">新闻资讯</a>
                    </li>
                    <li class="nav-item">
                        <a href="/SEO/index.html" title="SEO">商务合作</a>
                    </li>
                    <li class="nav-item">
                        <a href="/chanyue/page.html" title="禅悦cms">关于昂翊
                        </a>
                    </li>
                </ul>
            </nav>


            <div>
                <a class="lang ignore" href="javascript:translate.changeLanguage('chinese_simplified');">CN</a>
                |
                <a class="lang ignore" href="javascript:translate.changeLanguage('chinese_simplified');">EN</a>
            </div>

            <div class="tel">
                咨询热线：185 2178 6596
            </div>
        </div>
    </header>

    <!-- 轮播图 -->
    <section class="row justify-between gap-10  mb-20">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./img/banner.jpg" title="小跑青年" alt="小跑青年">
                    <!-- <h3 class="carousel-title">{{$value.title}}</h3> -->
                </div>
                <div class="swiper-slide">
                    <img src="./img/banner.jpg" title="小跑青年" alt="小跑青年">
                    <!-- <h3 class="carousel-title">{{$value.title}}</h3> -->
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
        </div>
    </section>

     <!-- 解决方案 -->
    <section class="pb-20 row">
        <article class="main w-1200 center mt-10 ">
            <h3 class="m-title bold">解决方案</h3>
            <p class="m-description mb-23">万物互联时代，智慧化技术服务，<br />
                打造集成化解决方案</p>
            <div class="row m-jjfa gap-10">
                <div class="pr-5">
                    <div class="pos-r m-xiaoyuan">
                        <img src="./img/01.jpg" alt="">
                        <h4 class="m-h4"><a href="">智慧校园 ></a></h4>
                    </div>
                    <div class="row mt-5 ">
                        <div class="col-12 m-yuanqu pos-r pr-5 overflow-h">
                            <img src="./img/02.jpg"  alt="">
                            <h4 class="m-h4"><a href="">智慧园区 ></a></h4>
                        </div>
                        <div class="col-12 m-yanglao pos-r overflow-h">
                            <img class="w-p100" src="./img/03.jpg" alt="">
                            <h4 class="m-h4"><a href="">智慧养老 ></a></h4>
                        </div>
                    </div>
                </div>
                <div class="pos-r flex-1 m-gongchang">
                    <img src="./img/04.jpg" alt="">
                    <h4 class="m-h4"><a href="">智慧工厂 ></a></h4>
                </div>
            </div>
        </article>
    </section>

    <!-- 技术服务 -->
    <section class="pb-20 row m-jsfw ">
        <article class="main w-1200 center overflow-h pl-226 pt-120 m-jsfw-bg">
            <h3 class="m-title bold">技术服务</h3>
            <p class="m-description mb-23 c-464646">"全国30多个省市地区设置技术服务人员，<br/>
                一对一提供项目方案，我们的技术服务团队<br/>
                拥有丰富的行业经验和专业技能，<br/>
                能够迅速响应客户需求，<br/>
                为客户提供高效、专业的技术支持。"</p>
           <div class="m-btn-more text-c"><a class="c-fff block" href="">了解更多></a></div>
        </article>
    </section>


    <!-- 行业新闻 -->
    <section class="pb-20 row">
        <article class="main w-1200 center">
            <h3 class="m-title text-c">行业新闻</h3>
            <p class="m-description text-c mb-20">关注昂翊，了解更多咨询</p>
            <div class="m-tab">                                 
              <div class="m-tab-th justify-center row f-14 mb-30">
                <span class="active mr-10 ml-10">精彩活动</span>|
                <span class="mr-10 ml-10">企业资讯</span>|
                <span class="mr-10 ml-10">行业资讯</span>
              </div>
              <div class="m-tab-cont">
                <div class="m-news active">
                   <div class="row justify-between">
                    <div class="m-news-item">
                        <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                        <div class="pl-12 pr-12 pt-10 pb-10">
                            <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                            <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                            越来越多的医院开始......</a></p>
                            <p class="c-3f3f3f mt-2">
                                <span class="mr-5">发布时间</span>
                                |  
                                <span class="ml-5">2023年5月6日</span>
                            </p>
                        </div>
                    </div>
                    <div class="m-news-item">
                        <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                        <div class="pl-12 pr-12 pt-10 pb-10">
                            <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                            <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                            越来越多的医院开始......</a></p>
                            <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                        </div>
                    </div>
                    <div class="m-news-item">
                        <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                        <div class="pl-12 pr-12 pt-10 pb-10">
                            <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                            <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                            越来越多的医院开始......</a></p>
                            <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                        </div>
                    </div>
                    <div class="m-news-item">
                        <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                        <div class="pl-12 pr-12 pt-10 pb-10">
                            <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                            <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                            越来越多的医院开始......</a></p>
                            <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                        </div>
                    </div>
                   </div>
                   <a class="m-new-more text-c center mt-20 mb-20" href="">了解更多</a>
                </div>
                <div class="m-news">
                    <div class="row justify-around">
                     <div class="m-news-item">
                         <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                         <div class="pl-12 pr-12 pt-10 pb-10">
                             <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                             <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                             越来越多的医院开始......</a></p>
                             <p class="c-3f3f3f mt-2">
                                 <span class="mr-5">发布时间</span>
                                 |  
                                 <span class="ml-5">2123年5月6日</span>
                             </p>
                         </div>
                     </div>
                     <div class="m-news-item">
                         <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                         <div class="pl-12 pr-12 pt-10 pb-10">
                             <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                             <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                             越来越多的医院开始......</a></p>
                             <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                         </div>
                     </div>
                     <div class="m-news-item">
                         <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                         <div class="pl-12 pr-12 pt-10 pb-10">
                             <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                             <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                             越来越多的医院开始......</a></p>
                             <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                         </div>
                     </div>
                     <div class="m-news-item">
                         <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                         <div class="pl-12 pr-12 pt-10 pb-10">
                             <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                             <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                             越来越多的医院开始......</a></p>
                             <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                         </div>
                     </div>
                    </div>
                    <a class="m-new-more text-c center mt-20 mb-20" href="">了解更多</a>
                 </div>
                 <div class="m-news">
                    <div class="row justify-around">
                     <div class="m-news-item">
                         <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                         <div class="pl-12 pr-12 pt-10 pb-10">
                             <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                             <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                             越来越多的医院开始......</a></p>
                             <p class="c-3f3f3f mt-2">
                                 <span class="mr-5">发布时间</span>
                                 |  
                                 <span class="ml-5">2023年15月6日</span>
                             </p>
                         </div>
                     </div>
                     <div class="m-news-item">
                         <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                         <div class="pl-12 pr-12 pt-10 pb-10">
                             <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                             <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                             越来越多的医院开始......</a></p>
                             <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                         </div>
                     </div>
                     <div class="m-news-item">
                         <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                         <div class="pl-12 pr-12 pt-10 pb-10">
                             <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                             <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                             越来越多的医院开始......</a></p>
                             <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                         </div>
                     </div>
                     <div class="m-news-item">
                         <div class="m-news-img"><a href=""><img src="./img/05.jpg" alt=""></a></div>
                         <div class="pl-12 pr-12 pt-10 pb-10">
                             <h3 class="m-news-title text-c"><a href="">福建省妇产医院智慧医院建设 </a></h3>
                             <p class="m-news-des mt-4"><a href="">随着物联网技术在医疗行业中的应用，
                             越来越多的医院开始......</a></p>
                             <p class="c-3f3f3f mt-2">发布时间   |  2023年5月6日</p>
                         </div>
                     </div>
                    </div>
                    <a class="m-new-more text-c center mt-20 mb-20" href="">了解更多</a>
                 </div>
              </div>
            </div>
        </article>
    </section>

     <!-- 关于昂科 -->
     <section class="pb-20 row">
        <article class="main ak-bg w-1200 center pl-226 pt-35">
      
                <h3 class="f-30 bold mt-35">关于昂翊</h3>
            <p class="m-description mb-20 f-14 lh-36 c-222">"上海昂翊信息科技有限公司（以下简称“昂翊”）成立于2019年，<br/>
                是一家专注于物联网技术研发和服务的高科技企业。作为昂科信息<br/>
                技术（上海）股份有限公司的全资子公司，昂翊依托母公司的强大<br/>
                实力和资源背景，致力于为客户提供全面、专业的物联网解决方案，<br/>
                帮助客户实现业务创新和价值提升。"</p>
            <a class="btn-about-more mb-20 text-c" href="">了解更多></a>

            <div class="row about mt-35">
                <div class="about-item c-5c7ceb">
                    <p class="f-18">业务覆盖全国</p>
                    <p class="f-18"><span class="f-30 bold">30</span>多个省份</p>
                </div>
                <div class="about-item c-5c7ceb">
                    <p class="f-18">累计客户数量</p>
                    <p class="f-18"><span class="f-30 bold">700</span>多家</p>
                </div>
                <div class="about-item c-5c7ceb">
                    <p class="f-18">荣获各项资质证书</p>
                    <p class="f-18"><span class="f-30 bold">200</span>多项</p>
                </div>
            </div>
          
        </article>
    </section>


    <!-- footer -->
    <footer class="pd-20 m-top-shadow">
        <div class="footer w-1200 center pd-20">
            <div class="row justify-around">
                <div class="col-6">
                    <h4 class="f-15 pb-10">技术服务</h4>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">智慧校园</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">智慧工厂</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">智慧养老</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">智慧园区</a></p>
                </div>
                <div class="col-6">
                    <h4 class="f-15 pb-10">行业新闻</h4>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">精彩活动</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">企业资讯</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">行业资讯</a></p>
                </div>
                <div class="col-6">
                    <h4 class="f-15  pb-10">关于</h4>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">关于昂翊</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">新闻资讯</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">商务合作</a></p>
                </div>
            </div>
            <p class="mt-30 text-c f-14">copyright © 上海昂翊信息科技有限公司</p>
            <p class="f-13 text-c c-bfbfbf">电话：185 2178 6596</p>
            <p class="f-13 text-c c-bfbfbf">地址：上海市xxxx</p>
        </div>
    </footer>

    <!-- 返回顶部 -->
    <span class="backtop none">
        <svg data-v-2a8a074a="" width="20" height="20" viewBox="0 0 20 20" fill="none"
            xmlns="http://www.w3.org/2000/svg" class="">
            <path data-v-2a8a074a="" fill-rule="evenodd" clip-rule="evenodd"
                d="M5.00806 3.0625C4.70158 3.0625 4.45312 3.31095 4.45312 3.61743C4.45312 3.92391 4.70158 4.17236 5.00806 4.17236H14.9968C15.3033 4.17236 15.5518 3.92391 15.5518 3.61743C15.5518 3.31095 15.3033 3.0625 14.9968 3.0625H5.00806ZM10.3948 5.9997C10.1781 5.78297 9.82676 5.78297 9.61005 5.9997L6.07849 9.53126C5.86176 9.74797 5.86176 10.0993 6.07849 10.316C6.2952 10.5328 6.64656 10.5328 6.86327 10.316L9.44751 7.73182V17.3809C9.44751 17.6873 9.69596 17.9358 10.0024 17.9358C10.3089 17.9358 10.5574 17.6873 10.5574 17.3809V7.73182L13.1416 10.316C13.3583 10.5328 13.7097 10.5328 13.9264 10.316C14.1431 10.0993 14.1431 9.74797 13.9264 9.53126L10.3948 5.9997Z"
                fill="#515767" stroke="#515767" stroke-width="0.5"></path>
        </svg>
    </span>
    <script src="./js/jquery-2.0.3.min.js"></script>
    <script src="./js/swiper.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/translate.js"></script>
    <!-- <div style="position: fixed;bottom: 15px;right: 15px;z-index: 10;">
        <a class="ignore" href="javascript:translate.changeLanguage('japanese');">日本語</a>
        <a class="lang ignore" href="javascript:translate.changeLanguage('english');">E</a>
        <a class="ignore" href="javascript:translate.changeLanguage('chinese_traditional');">繁體中文</a>
    </div> -->
    
    <script>
        //translate.setUseVersion2(); //设置使用v2.x 版本
        // translate.listener.start();
        // translate.setAutoDiscriminateLocalLanguage();
        translate.ignore.class.push('ignore');	// 如果不设置默认只有 ignore 这一个
        translate.execute(); //执行翻译初
    </script>

</body>

</html>