<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="cms,cms,chanyue," />
    <meta property="og:title" content="昂科" />
    <meta property="og:description" content="" />
    <title>昂科</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <meta property="og:type" content="article" />
    <meta property="og:image" content="./img/logo.png" />
    <meta property="og:url" content="http://www.chanyue.top" />
    <meta name="author" content="昂科" />
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/saduo@1.1.1.css" />
    <link rel="stylesheet" href="./css/swiper.min.css" />
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <!-- 头部 -->
    <header class="row header-wrap justify-center pos-r">
        <div class="header row align-c justify-between pt-5 pb-5">
            <h1 class="logo" title="昂科">
                昂科
            </h1>

            <nav class="nav">
                <ul class="row">
                    <li class="nav-item"><a href="/" title="首页">首页 </a></li>
                    <li class="nav-item">
                        <a href="/fedev/index.html" title="前端开发">技术服务 </a>
                        <ul class="sub-nav">
                            <li class="sub-nav-item">
                                <a href="/qianduankaifa/JavaScript/index.html" title="JavaScript">智慧校园
                                </a>
                            </li>
                            <li class="sub-nav-item">
                                <a href="/qianduankaifa/vue/index.html" title="vue">智慧工厂
                                </a>
                            </li>
                            <li class="sub-nav-item">
                                <a href="/fedev/css3/index.html" title="css3">智慧养老
                                </a>
                            </li>
                            <li class="sub-nav-item">
                                <a href="/fedev/css3/index.html" title="css3">智慧园区
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/nodejs/index.html" title="node开发">解决方案</a>
                    </li>
                    <li class="nav-item">
                        <a href="/qianduanku/index.html" title="前端库">新闻资讯</a>
                    </li>
                    <li class="nav-item">
                        <a href="/SEO/index.html" title="SEO">商务合作</a>
                    </li>
                    <li class="nav-item">
                        <a href="/chanyue/page.html" title="禅悦cms">关于昂翊
                        </a>
                    </li>
                </ul>
            </nav>


            <div>
                <a class="lang ignore" href="javascript:translate.changeLanguage('chinese_simplified');">CN</a>
                |
                <a class="lang ignore" href="javascript:translate.changeLanguage('chinese_simplified');">EN</a>
            </div>

            <div class="tel">
                咨询热线：185 2178 6596
            </div>
        </div>
    </header>

    <!-- 轮播图 -->
    <section class="row justify-center gap-10  mb-20">
        <div class="w-1200 pd-20">
            <img src="./img/banner1.jpg" title="小跑青年" alt="小跑青年">
        </div>
    </section>

    <!-- 内容 -->
    <section class="pb-20 justify-center row">
        <div class="w-1200 pb-20">
            <article class="article-index">
                <div class="bg-fff pd-15 mb-1 f-14 c-999 radius-6"><i class="ico-20 ico-home pos-r t-3"></i> <a
                        href="/">首页</a> / <a class="c-666" href="/nodejs/index.html">新闻资讯</a> </div>
                <div class="bg-fff pl-25 pr-25 pb-25 radius-6 list">
                    <ul>
                        <li class="row border-dashed pt-20 pb-20">
                            <figure class="row justify-between mt-10">
                                <div class="thumb-120 mb-10"><img class="w-p100" src="https://www.nuodefangchan.com/public/cover/05.jpg"
                                        alt="国内常见的基于node开发的cms系统" title="国内常见的基于node开发的cms系统"></div>
                                <div class="flex-1">
                                    <h3 class="f-18 ellips-2 bold mt-4 c-141414"><a
                                            href="/nodejs/express/article-1.html"
                                            title="国内常见的基于node开发的cms系统">设备运维管理</a></h3>
                                    <p class="f-12 c-bfbfbf mb-8"><i class="ico-20 ico-time pos-r t-4"></i> 2023-11-22 <i
                                            class="ico-20 ico-昂科 pos-r t-4 ml-4"></i> 昂科 <i
                                            class="ico-20 ico-view pos-r t-5 ml-4"></i>
                                        阅读（66）<!-- <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95） --></p>
                                    <p class="f-14 ellips-3 c-595959"><a href="/nodejs/express/article-1.html"
                                            title="国内常见的基于node开发的cms系统">
                                            配合园区监控视频，视频AI自动识别园区人群聚集现象，提前处理安全隐患
、车辆拥堵告警、可疑人员视频调取、消防消防末端管压、天面液位异常监测，消防主机报警监测、车辆消防占道、访客滞留等问题，及时发出告警提示，提高园区管理水平、助力保安维护园区秩序管理[详情]</a></p>
                                </div>
                            </figure>
                        </li>
                        <li class="row border-dashed pt-20 pb-20">
                            <figure class="row justify-between mt-10">
                                <div class="thumb-120 mb-10"><img class="w-p100" src="https://www.nuodefangchan.com/public/cover/05.jpg"
                                        alt="国内常见的基于node开发的cms系统" title="国内常见的基于node开发的cms系统"></div>
                                <div class="flex-1">
                                    <h3 class="f-18 ellips-2 bold mt-4 c-141414"><a
                                            href="/nodejs/express/article-1.html"
                                            title="国内常见的基于node开发的cms系统">设备运维管理</a></h3>
                                    <p class="f-12 c-bfbfbf mb-8"><i class="ico-20 ico-time pos-r t-4"></i> 2023-11-22 <i
                                            class="ico-20 ico-昂科 pos-r t-4 ml-4"></i> 昂科 <i
                                            class="ico-20 ico-view pos-r t-5 ml-4"></i>
                                        阅读（66）<!-- <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95） --></p>
                                    <p class="f-14 ellips-3 c-595959"><a href="/nodejs/express/article-1.html"
                                            title="国内常见的基于node开发的cms系统">
                                            配合园区监控视频，视频AI自动识别园区人群聚集现象，提前处理安全隐患
、车辆拥堵告警、可疑人员视频调取、消防消防末端管压、天面液位异常监测，消防主机报警监测、车辆消防占道、访客滞留等问题，及时发出告警提示，提高园区管理水平、助力保安维护园区秩序管理[详情]</a></p>
                                </div>
                            </figure>
                        </li>
                        <li class="row border-dashed pt-20 pb-20">
                            <figure class="row justify-between mt-10">
                                <div class="thumb-120 mb-10"><img class="w-p100" src="https://www.nuodefangchan.com/public/cover/05.jpg"
                                        alt="国内常见的基于node开发的cms系统" title="国内常见的基于node开发的cms系统"></div>
                                <div class="flex-1">
                                    <h3 class="f-18 ellips-2 bold mt-4 c-141414"><a
                                            href="/nodejs/express/article-1.html"
                                            title="国内常见的基于node开发的cms系统">设备运维管理</a></h3>
                                    <p class="f-12 c-bfbfbf mb-8"><i class="ico-20 ico-time pos-r t-4"></i> 2023-11-22 <i
                                            class="ico-20 ico-昂科 pos-r t-4 ml-4"></i> 昂科 <i
                                            class="ico-20 ico-view pos-r t-5 ml-4"></i>
                                        阅读（66）<!-- <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95） --></p>
                                    <p class="f-14 ellips-3 c-595959"><a href="/nodejs/express/article-1.html"
                                            title="国内常见的基于node开发的cms系统">
                                            配合园区监控视频，视频AI自动识别园区人群聚集现象，提前处理安全隐患
、车辆拥堵告警、可疑人员视频调取、消防消防末端管压、天面液位异常监测，消防主机报警监测、车辆消防占道、访客滞留等问题，及时发出告警提示，提高园区管理水平、助力保安维护园区秩序管理[详情]</a></p>
                                </div>
                            </figure>
                        </li>
                    </ul>
                </div><!-- 分页 -->
                <div class="page mt-1 bg-fff pd-25 row justify-center radius-6" id="app">
                    <ul class="overflow-h center" id="page">
                        <li class="disabled">上一页</li>
                        <li class="current"><a href="/nodejs/index1.html">1</a></li>
                        <li class="disabled">下一页</li>
                    </ul>
                </div>
            </article>
        </div>
    </section>


    <!-- footer -->
    <footer class="pd-20 m-top-shadow">
        <div class="footer w-1200 center pd-20">
            <div class="row justify-around">
                <div class="col-6">
                    <h4 class="f-15 pb-10">技术服务</h4>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">智慧校园</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">智慧工厂</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">智慧养老</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">智慧园区</a></p>
                </div>
                <div class="col-6">
                    <h4 class="f-15 pb-10">行业新闻</h4>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">精彩活动</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">企业资讯</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">行业资讯</a></p>
                </div>
                <div class="col-6">
                    <h4 class="f-15  pb-10">关于</h4>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">关于昂翊</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">新闻资讯</a></p>
                    <p class="f-13 pt-3 pb-3"><a class="c-595959">商务合作</a></p>
                </div>
            </div>
            <p class="mt-30 text-c f-14">copyright © 上海昂翊信息科技有限公司</p>
            <p class="f-13 text-c c-bfbfbf">电话：185 2178 6596</p>
            <p class="f-13 text-c c-bfbfbf">地址：上海市xxxx</p>
        </div>
    </footer>

    <!-- 返回顶部 -->
    <span class="backtop none">
        <svg data-v-2a8a074a="" width="20" height="20" viewBox="0 0 20 20" fill="none"
            xmlns="http://www.w3.org/2000/svg" class="">
            <path data-v-2a8a074a="" fill-rule="evenodd" clip-rule="evenodd"
                d="M5.00806 3.0625C4.70158 3.0625 4.45312 3.31095 4.45312 3.61743C4.45312 3.92391 4.70158 4.17236 5.00806 4.17236H14.9968C15.3033 4.17236 15.5518 3.92391 15.5518 3.61743C15.5518 3.31095 15.3033 3.0625 14.9968 3.0625H5.00806ZM10.3948 5.9997C10.1781 5.78297 9.82676 5.78297 9.61005 5.9997L6.07849 9.53126C5.86176 9.74797 5.86176 10.0993 6.07849 10.316C6.2952 10.5328 6.64656 10.5328 6.86327 10.316L9.44751 7.73182V17.3809C9.44751 17.6873 9.69596 17.9358 10.0024 17.9358C10.3089 17.9358 10.5574 17.6873 10.5574 17.3809V7.73182L13.1416 10.316C13.3583 10.5328 13.7097 10.5328 13.9264 10.316C14.1431 10.0993 14.1431 9.74797 13.9264 9.53126L10.3948 5.9997Z"
                fill="#515767" stroke="#515767" stroke-width="0.5"></path>
        </svg>
    </span>

    <script src="./js/swiper.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/translate.js"></script>
    <!-- <div style="position: fixed;bottom: 15px;right: 15px;z-index: 10;">
        <a class="ignore" href="javascript:translate.changeLanguage('japanese');">日本語</a>
        <a class="lang ignore" href="javascript:translate.changeLanguage('english');">E</a>
        <a class="ignore" href="javascript:translate.changeLanguage('chinese_traditional');">繁體中文</a>
    </div> -->

    <script>
        //translate.setUseVersion2(); //设置使用v2.x 版本
        // translate.listener.start();
        // translate.setAutoDiscriminateLocalLanguage();
        translate.ignore.class.push('ignore');	// 如果不设置默认只有 ignore 这一个
        translate.execute(); //执行翻译初
    </script>

</body>

</html>